* { border: 0; margin: 0; padding: 0; outline: 0; box-sizing: border-box; }

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%; /* 1em -> 10px */
  color: #747474;
}

.wrapper {
  margin: 50px auto;
  max-width: 420px;
}

@media (max-width: 480px) {
  .wrapper {
    margin: 25px auto;
    max-width: 100%;
  }
}

a {
  color: #AE2222;
  text-decoration: underline;
}

.centered {
  text-align: center;
}

.container {
  display: block;
  overflow: hidden;
  width: 104%;
}

.container .half {
  float: left;
  width: 46%;
}

.container .half:first-of-type {
  margin-right: 4%;
}

.container .half input, .container .half select {
  width: 100%;
}

h1 {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #535353;
  font-weight: bold;
  font-family: "Avenir Next";
}

.how-it-works {
  overflow: hidden;
  border-radius: 4px;
  background: #f5f5f5;
  margin-top: 35px;
}

.how-it-works li {
  padding: 45px 12px 15px;
  text-align: center;
  position: relative;
  float: left;
  width: 33.3333%;
  font-size: 1.3em;
  line-height: 140%;
}

.how-it-works li span {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #fff;
  border-radius: 99px;
  color: #AE2222;
}

@media (max-width: 480px) {
  .how-it-works {
    border-radius: 0;
    margin-top: 25px;
  }

  .how-it-works li {
    width: 100%;
  }
}

form {
  margin-top: 35px;
  font-size: 1.7em;
  margin-bottom: 25px;
}

form h2 {
  color: #333;
  margin-bottom: 5px;
}

label, input, select {
  width: 100%;
}

label {
  color: #999;
  display: block;
  margin-top: 20px;
  font-size: .9em;
}

input[type=text],
input[type=email],
select {
  display: block;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 10px;
  margin-top: 10px;
  height: 42px;
  color: #656565;
}

select {
  -webkit-appearance: none;
  background: url("select_dropdown_indicator.png") right 10px center white;
  background-size: 20px;
  background-repeat: no-repeat;
  text-overflow: ellipsis;
  padding-right: 20px;
}

button {
  margin-top: 25px;
  border-radius: 4px;
  background: #AE2222;
  color: white;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 42px;
  font-size: .9em;
  text-align: center;
}

button:hover {
  cursor: pointer;
  background: #a11f1f;
}

button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, .4);
  background: #941d1d;
  position: relative;
  top: 1px;
}

@media (max-width: 480px) {
  form {
    margin: 25px;
  }

  .container {
    width: 100%;
  }

  .container .half {
    width: 100%;
    float: none;
  }
}

p {
  margin-top: 20px;
  padding: 0 15px;
  font-size: 1.5em;
  line-height: 140%;
  color: #AAAAAA;
}

.small {
  font-size: 1.3em;
}

/* campaign page */

.header-label {
  display: block;
  color: #AE2222;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.3em;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.campaign-header {
  font-size: 2.4em;
  font-weight: bold;
  color: black;
  margin-top: 15px;
  padding: 0 15px;
  line-height: 1.4em;
}

.progress-bar {
  border-radius: 4px;
  background: #F5F5F5;
  border: 1px solid #ddd;
  position: relative;
  height: 50px;
  margin-top: 15px;
}

.progress {
  position: absolute;
  top: -1px;
  left: -1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #AE2222;
  font-size: 1.8em;
  display: block;
  color: #FFA9A9;
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 15px;
}

@media (max-width: 480px) {
  .progress-bar {
    border-right-width: 0;
  }

  .progress-bar, .progress {
    border-radius: 0;
  }
}

.progress span {
  font-weight: bold;
  color: white;
}

ul li {
  font-size: 1.5em;
  margin-top: 15px;
}

ul li:first-child {
  margin-top: 25px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  ul li {
    margin-left: 20px;
  }
}

ul li strong {
  color: #232323;
}

hr {
  margin-top: 25px;
  border-top: 1px solid #ddd;
}

.footer {
  margin: 50px auto 10px;
  color: #A4A4A4;
  font-size: 1.4em;
}

@media (max-width: 480px) {
  .footer {
    margin-top: 25px;
  }
}
